.entrance-group-container {
	display: flex;
	padding-bottom: 3px;
	margin-left: 20px;
}

[id='Boss Entrance-entrance-groups'] {
	margin-left: 30px;
}

.item-location-entrance-task-container {
	display: flex;
	flex-wrap: wrap;
	margin-left: 5px;
}

.entrance-group, .entrance-group-button {
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
}

.entrance-group-button {
	position: relative;
}

.entrance-group-button-time-day {
	filter: drop-shadow(1px 1px 0 orange) drop-shadow(-1px -1px 0 orange) drop-shadow(-1px 1px 0 orange)  drop-shadow(1px -1px 0 orange);
}

.entrance-group-button-time-night {
	filter: drop-shadow(1px 1px 0 #BF40BF) drop-shadow(-1px -1px 0 #BF40BF) drop-shadow(-1px 1px 0 #BF40BF)  drop-shadow(1px -1px 0 #BF40BF);
}

.entrance-group:hover, .entrance-group-button:hover {
	-webkit-filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px -2px 0 white);
	filter: drop-shadow(2px 2px 0 white)  drop-shadow(-2px -2px 0 white);
}

.entrance-group-button.entrance-group-button-completed {
	position: relative;
	opacity: 0.4;
}

.entrance-group-button.entrance-group-button-cannot-do {
	opacity: 0.4;
}

.entrance-group-button.entrance-group-button-completed:before {
	content: "/";
	position: absolute;
	left: 9px;
	top: -6px;
	width: 100%;
	color: white;
	font-weight: bold;
	font-size: 40px;
	font-style: italic;
}

.entrance-group-age-div, .entrance-group-text-div {
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	width: 16px;
	height: 16px;
}

.entrance-group-age-div {
	right: 0;
	bottom: 0;
}

.entrance-group-text-div {
	left: 0;
	top: 0;
}

.entrance-group-age-div.entrance-group-age-div-child:before, 
.entrance-group-age-div.entrance-group-age-div-adult:before,
.entrance-group-text-div {
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.entrance-group-age-div.entrance-group-age-div-child:before {
	content: "C";
}

.entrance-group-age-div.entrance-group-age-div-adult:before {
	content: "A";
}