#settingsButton {
    background-color: Gray;
    color: black;
    font-weight: bolder;
}

#settingsButton:hover {
    background-color: WhiteSmoke;
}

#settingsContainer {
    display: flex;
    background-color: #092953;
    width: 100%;
    height: 100%;
    margin-left: 215px;
}

#settingsContainer.location-smaller {
	margin-left: 115px;
}

#settingsContainer > div > span:hover {
    color: orangered;
}

#settingsButton.selected-location {
    background-color: black;
    color: gold;
}

#randomizerSettingsContainer {
    min-width: 360px;
}

.settings-header {
    display: block;
    margin: 0;
    padding: 5px;
    color: gold;
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0 0.67em, 0;
}

.settings-save-file-group {
    flex-direction: row;
    color: yellow;
    font-size: 16pt;
    margin-left: 20px;
    padding-bottom: 10px;
}

.settings-save-file-group > span {
    margin-right: 10px;
}

.settings-group {
    color: yellow;
    font-size: 16pt;
    margin-left: 20px;
    padding-bottom: 10px;
}

.settings-group, .settings-group > div {
    display: flex;
    flex-direction: column;
}

.settings-group > span:hover, .settings-save-file-group > span:hover {
    color: orange;
}

.settings-group label {
    color: white;
    font-size: 14pt;
    width: max-content;
}

.settings-group label:hover {
    color: red;
}

.settings-important {
    color: red;
    font-weight: bold;
}

.settings-radio-group:not(label) {
    padding-top: 4px;
    padding-bottom: 4px;
    color: lightgray;
    font-size: 15pt;
    display: flex;
    flex-direction: column;
}
.settings-radio-group label {
    margin-left: 10px;
}

#medallionSkulltulaInput {
	margin-left: 10px;
	width: 40px;
}